.book-details {
  position: relative;
  padding: 10px;
  background-color: var(--thistle);
}

.book-details img {
  position: absolute;
  top: 22.5px;
  right: 10px;
  width: 80px;
  transition: 400ms;
}

.book-details img:hover {
  rotate: -10deg;
}

.book-details .pricey {
  color: crimson;
}

.book-details .cheap {
  color: green;
}

.book-details {
  padding: 20px;
}

.book-details h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.book-details h4 {
  font-size: 16px;
  margin-bottom: 5px;
}

.book-details img {
  max-width: 200px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.review-container {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.review-container fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.review-container legend {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
}

.review-container form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.reviews {
  margin-top: 20px;
}

.reviews span {
  margin-right: 10px;
}

.reviews button {
  border: none;
  background-color: transparent;
  color: red;
  cursor: pointer;
}

a.back-link {
  display: inline-block;
  padding: 5px 10px;
  background-color: #f5f5f5;
  color: #333;
  text-decoration: none;
  border-radius: 5px;
  margin-inline-start: 330px;
}

.back-link:hover {
  background-color: #ddd;
}
